.block-outside {
    background-color: #ECF0F1;
    border-left: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
    border-top: solid 1px #c0c0c0;
    border-bottom: solid 2px black;
    height: 300px;
    width: 350px;
    margin: auto;
}

.header-1 {
    position: absolute;
    color: #34495E;
    font-family:sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 50px;
    left: 630px;
    z-index: 555;
}

#name {
    border:solid 2px #C4C4C5;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: 570px;
    height: 30px;
    width: 200px;
}

#pass {
    border:solid 2px #C4C4C5;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    position: absolute;
    top: 150px;
    left: 570px;
}
#button {
    background-color: #E74C3C;
    color: whitesmoke;
    position: absolute;
    top: 200px;
    left: 570px;
    border:#E74C3C solid 2px;
    border-radius: 5px;
    height: 30px;
    width: 208px;
}
.header-2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4BA3DD;
    text-decoration: underline;
    position: absolute;
    top: 270px;
    left: 600px;
    font-size:x-small;
}