.form-1 {
    background-color: white;
    border: solid 2px #CCCCCC;
    padding: 25px;
    box-sizing: border-box;
    margin-left: 400px;
    margin-right: 400px;
}

.header-1 {
    color: #546073;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 5px;
    left: 420px;
    font-size:x-large;
}

.header-2 {
    color: #546073;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 4px;
    right: 420px;
    font-size:x-large;
}

.name_1 {
    color: #546073;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 10px;
}

#name {
    border-bottom: solid 2px #CCCCCC;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin: 10px;
}

.email_1 {
    color: #546073;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 10px;
}

#email {
    border-bottom: solid 2px #CCCCCC;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin: 10px;
}

.pass_1 {
    color: #546073;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 10px;
}

#password {
    border-bottom: solid 2px #CCCCCC;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin: 10px;
}

.dis_input_1 {
    color: #546073;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 10px;
}

#disabledinput {
    border-bottom: solid 2px #CCCCCC;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin: 10px;
}

.textarea_1 {
    color: #546073;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 10px;
}

#textarea {
    border-bottom: solid 2px #CCCCCC;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin: 10px;
}