.block-outside {
    background-color: #effcef;
    width: 600px;
    height: 500px;
    margin:auto;
    border: solid 1px #84e484;
    border-radius: 3px; 
    padding: 15px;
    font-family:sans-serif;
}

#name_1 {
    background-color: white;
    border: solid 1px #c0dfb2;
    border-radius: 3px; 
    height: 20px;
    width:  270px;
    padding-left: 10px;
}

#email_1 {
    background-color: white;
    border: solid 1px #c0dfb2;
    border-radius: 3px; 
    height: 20px;
    width:  270px;
    padding-left: 10px;
}

#phone_1 {
    background-color: white;
    border: solid 1px #c0dfb2;
    border-radius: 3px; 
    height: 20px;
    width:  270px;
    padding-left: 10px;
}

#textarea_1 {
    background-color: white;
    border: solid 1px #c0dfb2;
    border-radius: 3px; 
    height: 100px;
    width:  270px;
    padding-left: 10px;
}

.block-outsite-1 {
    font-family:sans-serif;
    position: absolute;
    top: 40px;
    right: 440px;
    font-size: smaller;
}

.font-1 {
    font-weight: bold;
}

.stylez-1 {
    color: #c0dfb2;
    outline: none;
}

hr {
    width: 500px;  
    color: #c0dfb2;
    position: absolute;
    top: 400px;
    left: 430px;
}

.button-1 {
    height: 40px;
    width: 210px;
    position: absolute;
    left: 560px;
    top: 430px;
    background-color: #76cf76;
    border-radius: 5px;
    border: 1px solid #76cf76;
    color: white;
    font-size: 15px;
}
